html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  width: 60%;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  padding: 1.5rem;
  font-size: 2.75rem;
}

h2 {
  font-size: 2rem;
}

main {
  display: flex;
  flex-direction: row;
}

.left-class {
  width: 50%;
  padding: 1.5rem;
}

.left-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  font-family: 'Open Sans', sans-serif;
  align-self: center;
  background-color: blueviolet;
  height: 2rem;
  border: none;
  color: white;
  padding: 0 1.5rem;
  text-align: center;
  font-size: 0.75rem;
  cursor: pointer;
  border-radius: 3px;
}

.list-score {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.item {
  height: 2rem;
  padding: 0 1rem;
  padding-top: 0.6rem;
  font-weight: 500;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: violet;
  color: white;
  text-align: center;
  justify-content: center;
}
